body {
    font-family: Arial, sans-serif;
}

li {
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}