body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* Esta clase le dará la forma redonda y bonita al avatar */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Esto lo hace un círculo perfecto */
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}