/* Lo pegamos a la esquina superior derecha */
#panel-notificaciones {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Separación entre notificaciones */
}

/* Diseño base de la notificación */
.notificacion {
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-family: Arial;
    min-width: 200px;
}

/* Colores según el tipo */
.exito {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}

.info {
    background-color: #2196F3;
}